---
layout: default
title: About
---

<h1>{{ page.title }}</h1>
<section class="about-info">
  {% if site.data.author.description %}
    <p>{{ site.data.author.description }}</p>
  {% endif %}
  {% if site.data.author.email %}
    <p><a href="mailto://{{ site.data.author.email }}">{{ site.data.author.email }}</a></p>
  {% endif %}
</section>
{% if site.data.author.exhibitions %}
  <section class="about-exhibitions">
    <h2>Exhibitions</h2>
    {% for exgroup in site.data.author.exhibitions %}
      <h3>{{ exgroup.title }}</h3>
      <ul>
        {% for exitem in exgroup.list %}
          <li>{{ exitem }}</li>
        {% endfor %}
      </ul>
    {% endfor %}
  </section>
{% endif %}
