<!DOCTYPE html>
<html lang="ko">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ site.title }}</title>
  <link rel="stylesheet" href="/assets/style.css">
</head>
<body>
  <div class="global-wrapper">
    <header class="site-header">
      <h1><a href="/index.html">{{ site.title }}</a></h1>
      <p class="tagline">{{ site.description }}</p>
      <section class="navigation">
        <nav>
          <ul>
            <li><a href="/">Artwork</a></li>
            <li><a href="/text">Text</a></li>
            <li><a href="/about">About</a></li>
          </ul>
        </nav>
      </section>
    </header>
    <article class="site-content">
      {{ content }}
    </article>
    <footer class="site-footer">
      <p class="copyright">© 2018. <a href="mailto:{{ site.data.author.email }}">{{ site.data.author.name }}</a> ALL RIGHTS RESERVED.</p>
    </footer>
  </div>
</body>
</html>
